## Class And Object

In [1]:
class Myclass:
    a=5
    

p1 = Myclass()
print(p1.a)

5

## Init function

In [4]:
class Emp:
    def __init__(self,name,age):
        self.name=name
        self.age=age
e1 = Emp("Pankaj",24)
print(e1.name)
print(e1.age)

Pankaj
24

In [5]:
class emp:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def my(self):
        print("Hello My name is "+self.name)


e1 = emp('Pankaj',23)
e1.my()

Hello My name is Pankaj

In [6]:
class emp:
    def __init__(s,name,age):
        s.name=name
        s.age=age
    def my(ss):
        print("Hello My name is "+ss.name)


e1 = emp('Pankaj',23)
e1.my()

Hello My name is Pankaj

## Modification and delete parameter

In [ ]:

# modifying
class emp:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def my(self):
        print("Hello My name is "+self.name)


e1 = emp('Pankaj',23)
e1.age = 30
print(e1.age)

30

In [8]:
# delete object element
class emp:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def my(self):
        print("Hello My name is "+self.name)


e1 = emp('Pankaj',23)
del e1.age
print(e1.age)

AttributeError: 'emp' object has no attribute 'age'

In [11]:
help(emp.my)

Help on function my in module __main__:

my(self)

In [1]:
import pandas as pd

In [ ]:
dt = pd.DataFrame()